parameters:
    level: 0
    paths:
        - .
    excludePaths:
        analyse:
            - CAS-1.3.4
            - Minify
            - sys/Email/PHPMailer-6.9.1
            - sys/Smarty
            - vendor